/*
###### footer-section CSS ##########
*/

.footer_section {
  background: var(--primary-color);
}

.footer_section .footer_link {
  font-size: 1rem;
  color: var(--white-color);
  padding: 0 1.875rem;
  text-transform: uppercase;
}

.footer_social a i {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: var(--white-color);
}

@media (max-width: 767px) {
  .footer_section .footer_link,
  .footer_section a i {
    padding: 0 0.7rem;
  }
}

@media (max-width: 330px) {
  .footer_section .footer_link,
  .footer_section a i {
    padding: 0 0.5rem;
  }
}
